In [2]:
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('BlackFriday.csv')

In [4]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [5]:
train,test=train_test_split(data,random_state=123,test_size=0.25)

In [6]:
print(data.shape)
print(train.shape)
print(test.shape)

(537577, 12)
(403182, 12)
(134395, 12)

In [7]:
train.to_csv('blackfriday_train.csv')

In [10]:
test.drop(columns='Purchase',inplace=True)

/home/abishek/anaconda2/lib/python2.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [11]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
93781,1002456,P00274942,M,26-35,5,A,1,0,8,NaN,NaN
33545,1005143,P00002142,M,18-25,4,C,3,1,1,5.0,8.0
376336,1003912,P00043342,M,26-35,4,A,2,0,8,14.0,NaN
343466,1004855,P00266542,M,26-35,12,B,1,0,2,16.0,NaN
346516,1005364,P00015942,F,26-35,3,A,3,0,6,10.0,13.0

In [12]:
test.to_csv('blackfriday_test.csv')